.entry.page
  .entry-top
    .entry-content
      .author-inner.post-content
        %span.comment-number{:class => "#{'unanswered' if startup.requests.count == 0}"}
          = link_to startup.requests.count, '#', :title => "#{pluralize(startup.requests.count, 'request')}"
        .author-image
          %image(src="#{startup.logo.thumb.url}" title="#{startup.name} Logo")
          .author-overlay
        .author-info
          %h1
            = link_to startup.name, startup
          %h3= link_to startup.url, startup.url
          %p= startup.description
          %p
            #{startup.address}, #{startup.country}
            Registered about #{time_ago_in_words startup.created_at} ago.
