%ul#primary-menu.nav
  %li.menu-item(class = "#{'current-menu-item' if controller_name=='requests'}")
    %a(href="#{requests_path}")
      %strong Requests
      %span
        Get things done.
  %li.menu-item(class = "#{'current-menu-item' if controller_name=='users'}")
    %a{:href => "#{users_path}"}
      %strong Contributors
      %span
        Mentors/Volunteers
  %li.menu-item(class = "#{'current-menu-item' if controller_name=='startups'}")
    %a(href="#{startups_path}")
      %strong Startups
      %span
        Ideas & Dreams
  %li.menu-item(class = "#{'current-menu-item' if controller_name=='startups'}")
    %a(href="#{page_path(:id=>"aboutus")}")
      %strong About Us
      %span
        Get to Know Us