= content_for :sidebar do
  .widget-button
    = link_to '/profile', :class=>"actionbutton", :id=>"call_to_action" do
      %span Update Your Profile
    .one-third.last
      #accordion
        - if @requests.present?
          %h2.current My Requests
          .pane{:style => "display:block"}
            %ol
              - @requests.each do |r|
                %li= link_to r.title, request_path(r.slug)
        - if @follows.present?
          %h2 Followers
          .pane
            %ol
              - @follows.each do |follow|
                %li= link_to follow.user.full_name, user_path(follow.user)
        - if @following.present?
          %h2 Following
          .pane
            %ol
              - @following.each do |following|
                %li= link_to following.followable.full_name, user_path(following.followable)
.entry.page
  .entry-top
    .entry-content
      .post-content
        .author-inner.post-content
          %span.comment-number{:class => "#{'unanswered' if current_user.requests.count == 0}"}
            = link_to current_user.requests.count, '#', :title => "#{pluralize(current_user.requests.count, 'request')}"
          .author-image
            %image(src="#{current_user.avatar.thumb.url}" title="#{current_user.full_name} avatar")
            .author-overlay
          .author-info
            %h1
              = link_to current_user.full_name, current_user
            %h3= mail_to current_user.email, nil, :encode => "hex"
            %p= current_user.bio
            %p
              Joined about #{time_ago_in_words current_user.created_at} ago.
-content_for :secondary do
  %ul#secondary-menu.nav.clearfix
    %li.menu-item(class="#{'menu-item'}")
      =link_to "My Requests", user_requests_path(current_user)
    %li.menu-item(class="#{'menu-item'}")
      =link_to "My Enterprise", user_startups_path(current_user)
    %li.menu-item(class="#{'menu-item'}")
      =link_to "Followers", followers_user_path(current_user)
    %li.menu-item(class="#{'menu-item'}")
      =link_to "Following", follows_user_path(current_user)
