.post-content
  =semantic_form_for @request do |f|
    = f.inputs do
      = f.input :title
      = f.input :description, :as=>:text
      = f.input :category_ids, :as=>:check_boxes, :collection=>@categories.collect(&:id), :label_method=>Proc.new{|c| Category.find(c).name}, :label=>"Categories"
    .page-separator
    %br.clear
    %h3.title Relevant Dates
    = f.inputs do
      = f.input :start_date, :input_html=>{:class=>"date",:value=>@request.start_date.strftime("%d %b %Y")}
      = f.input :end_date, :input_html=>{:class=>"date",:value=>@request.end_date.strftime("%d %b %Y")}

    .page-separator
    %br.clear
    %h3.title Other Information
    = f.inputs do
      =f.input :location
      =f.input :startup_id,:as=>:select, :collection=>@startups
    =f.buttons
