.entry
  .entry-top
    .entry-content
      %span.comment-number
        = link_to request.commitments.size, '#', :title => "#{pluralize(request.commitments.size, 'commitment')}"
      %h2.title= link_to request.title, request
      %span.quote
      - if controller.action_name == 'index'
        %span.author
          \-
          = link_to request.startup.name, request.startup
          , #{request.created_at.strftime("%d %b %Y")}
      %br.clear
      - if controller.action_name == 'index'
        =link_to commit_request_path(request), :class=>"apply small-button smallsilver right" do
          %span commit
        %br.clear
      - else
        .postmeta
          %p.postinfo
            Posted by
            = link_to request.startup.name, request.startup
            on #{request.created_at.strftime("%d %b %Y")}
        .post-content
          %p #{request.description}
          .clear
      -#.orgLogo
        -#%img(src="#{request.startup.logo.thumb.url}")