.entry
  .entry-top
    .entry-content
      /%span.comment-number{ :class => "#{'unanswered' if request.commitments.size == 0}"}
      /  = link_to request.commitments.size, '#', :title => "#{pluralize(request.commitments.size, 'commitment')}"
      %h2.title= link_to request.title, request
      %span.quote
      - a_name = controller.action_name
      - index_like = a_name == 'index' || a_name == 'uncommitted' || a_name == 'popular'
      - if index_like
        %span.author
          \-
          = link_to request.startup.name, request.startup
          , #{request.created_at.strftime("%d %b %Y")}
      %br.clear
      - if index_like
        .alignright
          =#link_to commit_request_path(request), :class=>"apply small-button smallsilver" do
          = link_to "/requests/#{request.slug}#commitments", :class=>"apply small-button smallsilver" do
            %span= pluralize(request.commitments.size,'commit')
          = link_to "/requests/#{request.slug}", :class=>"apply small-button smallsilver" do
            %span= pluralize(request.comments.size,'comment')
        %br.clear
      - else
        - if controller.controller_name == 'requests'
          .postmeta
            %p.postinfo
              Posted by
              = link_to request.startup.name, request.startup
              on #{request.created_at.strftime("%d %b %Y")}
          .post-content
            %p #{request.description}
            .et-box.et-info
              .et-box-content
                %dl.one_half
                  %dt Why is this important?
                  %dd #{request.why_important}
                  %dt Completion estimate:
                  %dd #{request.completion_date.strftime("%d %b %Y")}
                %dl.one_half.last
                  %dt Ideal helper
                  %dd #{request.ideal_profile}
                  %dt Helper's Expectations?
                  %dd #{request.helper_expectation}
                .clear
            %br.clear
      -#.orgLogo
        -#%img(src="#{request.startup.logo.thumb.url}")