= content_for :sidebar do
  .widget-button
    - if current_user==@request.owner
      = link_to edit_request_path(@request), :class=>"actionbutton", :id=>"call_to_action" do
        %span Edit Request
      = semantic_form_for @request, :html => {:id => 'activate-request-form'} do |f|
        = f.inputs do
          = f.input :active, :as => :hidden, :value => !@request.active
        %button#close_request{:type => 'submit'}
          - if @request.active
            %span Close Request
          - else
            %span Activate Request
    - else
      = link_to '#commitments', :class=>"actionbutton", :id=>"call_to_action" do
        %span Commit


=render @request


#comment-wrap
  - if @request.commitments.present?
    %h3#comments Commitments
    =render @request.commitments
  - @commitment = @request.commitments.build
  %h3#commitments How do you think you'd help?
  = render :partial => "commit_form"

.clear
#comment-wrap
  - if @comments.present?
    %h3#comments Comments
    - @comments.each do |comment|
      %ol.commentlist.clearfix
        %li= render comment

  - @comment = @request.comments.build
  =render :partial=>"comments/form"
