= content_for :secondary do
  %ul#secondary-menu.nav.clearfix
    %li.menu-item
      =link_to "Team", startup_team_path(@startup)
    %li.menu-item.current-menu-item
      =link_to "Invitations", startup_invitations_path(@startup)

= content_for :sidebar do
  %p sidebar

.entry.page
  .entry-top
    .entry-content
      %h2.title Invite a member
      .post-content
        = semantic_form_for [ @startup,@invitation] do |f|
          = f.inputs do
            = f.input :email
          = f.buttons do
            = f.commit_button 'Invite'

.entry.page
  .entry-top
    .entry-content
      - if @invitees.present?
        %table
          %tbody
            - @invitees.each do |i|
              %tr
                %td= i.email
                %td= i.status