#footer
  #footer-content
    .container.clearfix
      #linkcat-2.footer-widget.left.widget_links
        %h4.widgettitle
          Twittes
        #tweets
        -#%ul.xoxo.blogroll
        -#  %li
        -#    %a{:href => "http://codex.wordpress.org/"} Documentation
        -#  %li
        -#    %a{:href => "http://wordpress.org/extend/plugins/"} Plugins
        -#  %li
        -#    %a{:href => "http://wordpress.org/extend/ideas/"} Suggest Ideas
        -#  %li
        -#    %a{:href => "http://wordpress.org/support/"} Support Forum
      / end .footer-widget
      #recent-posts-2.footer-widget.right.widget_recent_entries
        %h4.widgettitle
          Contact Illinois Technology Association
        = semantic_form_for @contact, :url => contacts_path do |f|
          = f.inputs do
            - if current_user.email.present?
              = f.input :email, :as => :hidden, :input_html => {:value => current_user.email}
            - else
              = f.input :email, :as => :email
            = f.input :subject
            = f.input :message, :as => :text
          = f.buttons do
            = f.commit_button 'Send'
      / end .footer-widget
    / end .container
    #footer-bottom
      .container.clearfix
        %ul#footer-menu.bottom-nav
          %li#menu-item-57.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-57
            =link_to "How It Works | ", page_path(:id=>"howitworks")
            =link_to "FAQs  | ", page_path(:id=>"faq")
            -#=link_to "Terms of Service  | ", page_path(:id=>"terms")
            -#=link_to "Privacy", page_path(:id=>"privacy")
        %p#copyright
          &copy; 2011
          %a{:href => "http://www.helpershub.com", :title => "Helper's Hub"} Helper's Hub
          | All rights reserved.
      / end .container
    / end #footer-bottom
  / end #footer-content