!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag 'screen.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    /[if lt IE 7.]
      <script defer type="text/javascript" src="scripts/pngfix.js"></script>
  %body
    #header
      #headerInner
        %h1#logo
          %a(href="/")
            = image_tag("helpers_hub_logo.png")
            %span.logotext Helper's Hub
        %ul
          %li= link_to("Home","#")
          %li= link_to("About","#")
          %li= link_to("Join","#")
    =yield
    #copyright
      Copyright © 2011 Helper's Hub. All rights reserved. | Privacy | PolicyAbout Our AdsSafety | Terms of Service | Copyright/IP Policy
      %a#fmondragon{:href => "http://www.fmondragon.com"} Fmondragon Creative Studio
