!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag 'screen.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    /[if lt IE 7.]
      <script defer type="text/javascript" src="scripts/pngfix.js"></script>
  %body
    #header
      #headerInner
        %h1#logo
          %a(href="/")
            = image_tag("helpers_hub_logo.png")
            %span.logotext Helper's Hub
        %ul
          %li= link_to("Startups","#")
          %li= link_to("Volunteers","#")
          %li= link_to("Jobs","#")
    #user_info
      #user_info_inner
        - if current_user
          #logged_in
            %p
              You are signed in as #{current_user.full_name}. 
              =link_to "Sign Out",signout_path
        - else
          #sign_up
            %ul.sign_up_links
              - %w(google twitter facebook linked_in).each do |service|
                %li.small_button= link_to image_tag("#{service}_32.png",:alt=>service),"/auth/#{service}"
            %p
              Sign up/Sign in with 
    #hub= yield
    #footer
      #footerInner
        .browse.volunteers
          %h4
            %a{:href => "#"} Browse through Helper's Hub Volunteers
          %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
          %a.footerbutton{:href => "#"} browse volunteers
        .browse.volunteers
          %h4
            %a{:href => "#"} Browse through Helper's Hub Volunteers
          %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
          %a.footerbutton{:href => "#"} browse volunteers
        .browse.volunteers
          %h4
            %a{:href => "#"} Browse through Helper's Hub Volunteers
          %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
          %a.footerbutton{:href => "#"} browse volunteers
    #copyright
      Copyright © 2011 Helper's Hub. All rights reserved. | Privacy | PolicyAbout Our AdsSafety | Terms of Service | Copyright/IP Policy
      %a#fmondragon{:href => "http://www.fmondragon.com"} Fmondragon Creative Studio
