!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag "hhstyles"
    /[if lt IE 7.]
      <script defer type="text/javascript" src="scripts/pngfix.js"></script>
  %body
    #header
      #headerInner
        %h1#logo
          %a{:href => "#{root_path}"}
            %img{:alt => "Helper's Hub Logo", :src => "/images/helpers_hub_logo.png"}/
            %span.logotext Helper's Hub
        %ul
          %li
            %a(href="#{requests_path}" class="#{'selected' if controller_name=='requests'}") Requests
          %li
            %a{:href => "#"} Volunteers
          %li
            %a(href="#{startups_path}" class="#{'selected' if controller_name=='startups'}") Startups
          %li
            %a{:href => "#"} About Us

    #graybg
      =yield
      #footerOuter
        =render :partial => '/layouts/footer'

    #copyrightOuter
      =render :partial => '/layouts/copyright'

